<div ng-controller="homeCtrl">
  <div ng-if="!tasks.length">
    <br>
    <h3>You are have not added any tasks to your to do list.</h3>
    <h4>Add a task begin.</h4>
  </div>
  <br>
  <hr>
  <h2>Add Task:</h2>
  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="name" /><br />
    Due: <input type="date" min="2016-02-15" ng-model="due"/><br />
    Description: <input type="text" ng-model="description"/><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="button" ng-click="add()" value="Add" />
  </form>
  <hr>
  <br>

  <div ng-if="tasks.length">
    <h1>Your To-Do List:</h1>
    <table class="table table-hover">
      <thead>
        <th>Task Name</th>
        <th>Due Date</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasks">
          <td>{{task.name}}</td>
          <td>{{task.due}}</td>
          <td>{{task.description}}</td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="task.isComplete === true"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="task.isComplete === false"></span>
            <input type="button" ng-click="toggleComplete(task._id)" value="Change" /></td>
          <td>
              <input type="button" ng-click="delete(task._id)" value="Delete" />
        </td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>
